[project]
	description = Public open source repository for the OpenShift Origin server components
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/NaokiMiyata
[access "refs/for/refs/*"]
	read = group user/NaokiMiyata
	push = group user/NaokiMiyata
	label-Code-Review = -2..+2 group user/NaokiMiyata
	label-Verified = -1..+1 group user/NaokiMiyata
	rebase = group user/NaokiMiyata
	removeReviewer = group user/NaokiMiyata
	submit = group user/NaokiMiyata
[access "refs/heads/*"]
	read = group user/NaokiMiyata
	create = group user/NaokiMiyata
	push = +force group user/NaokiMiyata
	pushMerge = group user/NaokiMiyata
[access "refs/tags/*"]
	push = +force group user/NaokiMiyata
	pushTag = group user/NaokiMiyata
	pushSignedTag = group user/NaokiMiyata
